<section class="container">
  <header class="header d-flex">
    <div class="buscar-pensamentos">
      <input type="search" class="filtro" placeholder="O que você procura?" autofocus [(ngModel)]="filter" (keyup)="searchThoughts()">
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>

    <h2 class="ff-inter">{{ title }}</h2>
    <div class="botoes">
      <button class="botao" (click)="reloadComponent()">Todos os Pensamentos</button>
      <button class="botao" (click)="favoriteListMethod()">Meus Favoritos</button>
      <button routerLink="/NovoPensamento" class="botao">Novo Pensamento</button>
    </div>

  </header>

  <div class="mural" *ngIf="thoughtList.length > 0, else semPensamentos">
    <div *ngFor="let thought of thoughtList">
      <app-thought-card [thought] = "thought" [favoriteList]="favoriteList"></app-thought-card>
    </div>
  </div>
</section>

<app-load-more-button [existsMoreThoughts]="existsMoreThoughts" (click) = "loadMore()"></app-load-more-button>

<ng-template #semPensamentos>
  <div class="ff-inter sem-pensamentos">
    <p>Você ainda não cadastrou pensamentos!</p>
  </div>
</ng-template>
